<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groupkk.ceke"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name=".welcome.LoginAndRegister" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcome.EntendPhonrNumber" >
        </activity>
        <activity android:name=".welcome.LoginAndLogin" >
        </activity>
        <activity android:name=".welcome.Register" >
        </activity>
        <activity android:name=".welcome.SetNewPassword" >
        </activity>
        <activity android:name=".welcome.SettingUp" >
        </activity>
        <activity android:name="com.groupkk.ceke.MoreClassActivity" >
        </activity>
        <activity android:name="com.groupkk.ceke.CompanyDetailActivity" >
        </activity>
        <activity android:name="com.groupkk.ceke.ClassDetailActivity" >
        </activity>
        <activity android:name="com.groupkk.ceke.MyApplyRecordActivity" >
        </activity>
        <activity android:name="com.groupkk.ceke.MyCollectActivity" >
        </activity>
        <activity android:name="com.groupkk.ceke.PersonalInformationActivity" >
        </activity>
        <activity android:name="com.groupkk.ceke.welcome.MessageActivity" >
        </activity>
        <activity android:name="com.groupkk.ceke.welcome.AboutSuccessActivity" >
        </activity>
        <activity android:name="com.groupkk.ceke.welcome.MyPostsActivity" >
        </activity>
        <activity android:name="com.groupkk.ceke.MusicClassActivity"></activity>
    </application>

</manifest>